<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

	<parameter name="baseUrl"
		value="https://webapp-playground-leadqa.menu.app"></parameter>
	<parameter name="browser" value="Chrome"></parameter>

	<test thread-count="5" name="MenuTest" enabled="true">
	
		<classes>
			<class name="menuApp.tests.suites.MenuSuite">
				<parameter name="cityLocation" value="Novi Sad, Srbija"></parameter>
				<parameter name="locationNumber" value="2"></parameter>
				<parameter name="location" value="Petricevic One"></parameter>
				<parameter name="day" value="Sunday"></parameter>
				<parameter name="workingHours" value="8:00 AM - 8:00 PM"></parameter>
				<parameter name="item" value="Margarita"></parameter>
				<parameter name="quantity" value="3"></parameter>
				<parameter name="specialInstructions" value=""></parameter>
				<parameter name="price" value="24.0"></parameter>
				
			</class>
		</classes>
	</test>
</suite>